<nav class="navbar shadow-md bg-white">
    <div class="container flex items-center justify-between px-5 md:px-8 mx-auto">
        <h1>
            <a href="/" class="flex items-center">
                <img src="/assets/logo.png" alt="" loading="lazy" />
                <span class="text-3xl font-bold text-gray-700">مكتبة دار الارقم</span>
            </a>
        </h1>
        <ul class="flex items-center">
            <% if (user) {  %>
                <li>
                    <a href="/profile">
                        <%= user.name %>
                    </a>
                </li>
                <li><a href="/logout">تسجيل الخروج</a></li>
                <% } else { %>
                    <li>
                        <a href="/login" class="flex items-center text-gray-900 text-lg font-medium">
                            <span>حسابي</span>
                            <i class='bx bx-user text-2xl'></i>
                        </a>
                    </li>
                    <% } %>
        </ul>
    </div>
</nav>