<%- include('components/header'); -%>

    <%- include('components/navbar'); -%>

        <main class="container mx-auto p-5 ">
            <div class="bg-white p-8 w-full rounded-lg">
            </div>
        </main>

        <%- include('components/footer'); -%>