<%- include('components/header'); -%>

    <div class="h-screen flex items-center justify-center">
        <div class="w-1/2 bg-red-100 rounded-lg border border-red-700 text-center">
            <i class='bx bx-error-alt text-red-600 text-6xl font-medium my-3'></i>
            <h1 class="text-red-600 text-3xl font-medium my-3">ممنوع الوصول</h6>
                <h6 class="text-red-600 text-xl font-medium my-3">
                    انت غير مخول للدخول لهذه الصفحة
                </h6>
        </div>
    </div>


    <%- include('components/footer'); -%>