<%- include('components/header'); -%>

    <%- include('components/navbar'); -%>


        <div>
            <%- user ? user.name : '' %>
        </div>


        <%- include('components/footer'); -%>