<%- include('components/header'); -%>


    <div class="min-h-screen w-full flex justify-center items-center">
        <div class="w-3/4 sm:w-1/2 lg:w-1/3 shadow-lg rounded-lg p-5 bg-white mt-12">
            <img src="/images/logo.png" alt="" loading="lazy" class="img-responsive mx-auto my-3" />
            <form action="/signup">
                <h2 class="text-3xl text-gray-800 font-medium">تسجيل حساب جديد</h2>
                <div class="my-5">
                    <label for="name" class="block text-lg">اسم المستخدم</label>
                    <input type="text" required name="name" class="block px-x py-2 rounded-md w-full border-2 border-gray-200" />
                    <div class="nameError text-red-600 font-bold"></div>
                </div>
                <div class="my-5">
                    <label for="email" class="block text-lg">البريد الإلكتروني</label>
                    <input type="email" required name="email" class="block px-x py-2 rounded-md w-full border-2 border-gray-200" />
                    <div class="emailError text-red-600 font-bold"></div>
                </div>
                <div class="my-5">
                    <label for="password" class="block text-lg">كلمة المرور</label>
                    <input type="password" name="password" class="block px-x py-2 rounded-md w-full border-2 border-gray-200" />
                    <div class="passwordError text-red-600 font-bold"></div>
                </div>
                <div class="responseError text-red-600  rounded-lg my-4 py-2 px-3"></div>
                <button type="submit" class="bg-green-500 text-white block rounded-md w-full py-2">تسجيل حساب جديد</button>
                <div class="text-gray-600 mt-2 text-md"> لديك حساب من قبل ؟ <a href="/login" class="text-underline font-medium text-gray-700" title="signin">تسجيل الدخول</a></div>
            </form>
        </div>
    </div>
    <%- include('components/footer'); -%>

        <script>
            const form = document.querySelector('form');
            const emailError = document.querySelector('.emailError');
            const passwordError = document.querySelector('.passwordError');
            const nameError = document.querySelector('.nameError');
            const responseError = document.querySelector('.responseError');

            form.addEventListener('submit', async(e) => {
                e.preventDefault();
                // reset errors
                emailError.textContent = '';
                nameError.textContent = '';
                passwordError.textContent = '';
                responseError.textContent = '';
                // get values
                const email = form.email.value;
                const password = form.password.value;
                const name = form.name.name;
                try {
                    const res = await fetch('/signup', {
                        method: 'POST',
                        body: JSON.stringify({
                            email,
                            password,
                            name
                        }),
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    });
                    const data = await res.json();
                    console.log(data);
                    if (data.errors) {
                        emailError.textContent = data.errors.email;
                        passwordError.textContent = data.errors.password;
                        nameError.textContent = data.errors.name;
                    }
                    responseError.textContent = data.error
                    if (data.user) {
                        location.assign('/');
                    }
                } catch (err) {
                    console.log(err);
                }
            });
        </script>