<%- include('components/header'); -%>

    <%- include('components/navbar'); -%>
        <div class="h-screen flex items-center justify-center">
            <div class="w-1/2 bg-green-100 rounded-lg border border-green-700 text-center">
                <i class='bx bx-check text-green-600 text-6xl font-medium my-3'></i>
                <h1 class="text-green-600 text-3xl font-medium my-3">تمت العملية بنجاح</h6>
                    <h6 class="text-green-600 text-xl font-medium my-3">
                        <%- message -%>
                    </h6>
            </div>
        </div>


        <%- include('components/footer'); -%>