<%- include('components/header'); -%>

    <%- include('components/navbar'); -%>

        <header class="container mx-auto">
            <h1>hello world</h1>
        </header>


        <%- include('components/footer'); -%>